body {
  display: inline;
  background: #011109;
  font-family: 'Press Start 2P', monospace;
  vertical-align: top;
}

h1 {
  margin-left: 0.5em;
  color: #c9ff7e;
}

hr {
  border: 0;
  border-top: 0.17em dashed #c9ff7e;
  margin-bottom: 2.3em;
}

a {
  display: inline-block;
  width: 25em;
  height: 25em;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  border: 0.1em dashed #c9ff7e;
}

a:hover, a:focus {
  border: 0.1em dotted #00ffaa;
  background-color: #05220c;
}

a:visited {
  border: 0.1em dashed #6cfdb8;
}

a:last-child {
  all: inherit;
}

img{
  width: 100%;
  max-height: 100%;
}

h2 {
  color: #5cff99;
}

h3 {
  margin-left: 0.5em;
  color: #5cff99;
}

h2:hover, h2:focus, h3:hover, h3:focus {
  color: #00ffaa;
}

h2:visited, h3:visited {
  color: #6cfdb8;
}
