body {
  display: inline;
  background: #031300;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  margin-left: 0.5em;
  font-weight: 900;
  color: #99ff55;
}

hr {
  border: 0;
  border-top: 0.17em dashed #99ff55;
  color: #99ff55;
  margin-bottom: 2em;
}

a {
  color: #44ff44;
}

h2:hover, h2:focus, a:hover, a:focus {
  color: #00ffaa;
}

h2:visited, a:visited {
  color: #00eebb;
}

div {
  display: inline-block;
  max-width: 25em;
  max-height: 25em;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  border: 0.1em dashed #99ff55;
}

div:hover, div:focus {
    border: 0.1em dotted #00ffaa;
    background-color: #0c2c2c;
}

img{
    width: 100%;
}

h2 {
  font-weight: 400;
  color: #44ff44;
}

h3 {
  margin-left: 1em;
  font-weight: 400;
  color: #99ff55;
}