/*modified from original Github template*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #151515;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

div {
  width: 90%;
  display: block;
  margin: auto;
}

h1, h2 {
  line-height: 1.5;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 32px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:hover, a:focus {
  color: #83e0ff;
}

a:visited {
  color: #43a0d5;
}

h2 a {
  color: #b5ff11;
}

h2 a:hover, h2 a:focus {
  color: #d5ff00;
}

h2 a:visited {
  color: #95df33;
}
