/*modified from original Github template*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #151515;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

div {
  display: inline-block;
  margin: auto;
  background-color: #748B9F;
  background-color: rgba(205, 255, 225, 0.2);
}

img{
    max-width: 100%;
}

h1, h2 {
  line-height: 1.5;
  font-weight: bold;
  font-family: "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 32px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

a {
  color: #96daff;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:hover, a:focus {
  color: #76badf;
}

a:visited {
  color: #43a0d5;
}

h2 a {
  color: #b5ff11;
}

h2 a:hover, h2 a:focus {
  color: #d5ff00;
}

h2 a:visited {
  color: #95df33;
}
